.cont-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 40px;
   row-gap: 5px;
   border-bottom: 1px solid #ccc;

   .logo-header {
      height: 5vh;
      margin: 10px 0 0 0;
   }

   .sign-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: Avenir, Helvetica, Arial, sans-serif;
      font-size: 20px;
      color: black;
   }

   img {
      height: 40px;
   }

   @media (max-width: 919px) {
      height: 200px;
      row-gap: 10px;
      justify-content: center;
      flex-direction: column;
      padding: none;
      border-bottom: 1px solid #cccccc00;
   }
}