.cont-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   padding: 0px 40px;

   height: 130px;
   border-bottom: 1px solid #ccc;

   .logo-header {
      height: 5vh;
      margin: 10px 0 0 0;
   }

   img {
      height: 30px;
   }

   @media (min-width: 920px) {
      height: 125px;
      flex-direction: row;
      padding: none;
      border-bottom: 1px solid #cccccc00;
   }
}